<div class="author">
    <h1 class="author__heading">Hi I am Minh</h1>
    <p class="author__body">Web Developer</p>
</div>

<img src="/img/hero-image.webp" alt="avatar" width="981" height="528" class="image-hero">

<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post List</span>
                <span class="article-list__date">date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
